# Node modules
node_modules/

# Compilación de TypeScript
dist/
build/
*.tsbuildinfo

# Archivos de entorno
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de sistema
.DS_Store
Thumbs.db

# Coverage (por si usas herramientas de pruebas como Jest)
coverage/

# Archivos de producción de Swagger si los generas
swagger.json

# VSCode settings (opcional, si no deseas compartirlos)
.vscode/

# Archivos de configuración específicos del sistema operativo o editores
.idea/
*.swp
*.swo
